/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Franklin";
}
.main {
  background-color: #f3f6f9;
  width: 408px;
  height: 552px;
  border-radius: 6px;
}

.container {
  padding: 0 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h2 {
  color: #23587b;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-weight: 500;
}
.close {
  position: relative;
  right: 20px;
}
.go-back {
  position: relative;
  top: 5px;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: #d4edf8;
  border: 1px solid #b2dff2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 13px 16px;
  outline: none;
}
.password {
  margin-top: 14px;
}
.input-field input::placeholder {
  color: #8f8f8f;
}
.input-field input:focus,
.input-field input:active {
  background: #fff;
  border: 1px solid #23587b;
}
.eye {
  position: relative;
  float: right;
  top: -28px;
  right: 16px;
}

.btn {
  width: 100%;
  height: 40px;
  background: #ff6d1e;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #f3f6f9;
  font-size: 14px;
  font-weight: 600;
}

.forgot-password {
  text-align: center;
  margin: 10px 0;
}
.forgot-password a {
  color: #23587b;
  font-family: "Libre Franklin";
  font-size: 12px;
  font-weight: 500;
}
.or {
  text-align: center;
  font-family: "Libre Franklin";
  font-size: 12px;
  color: #5b5b5b;
  margin: 25px 0;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 16px;
  padding: 0px 70px;
  width: 328px;
  height: 40px;
  background: #f3f6f9;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}
.icon {
  width: 34px;
}
.link-text a {
  color: #000;
  text-decoration: none;
  font-family: "Libre Franklin";
}

.mt-16 {
  margin-top: 16px;
}
